:root {
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
  }
  .container {
    max-width: 400px;
    margin: 10vh auto 0 auto;
    box-shadow: 0px 0px 43px 17px rgba(153,153,153,1);
  }
  .calculator
  {
    width:300px;
    height:300px;
    background-color:#eeeeee;
    border:2px solid #CCCCCC;
    margin:auto;
    padding-left:5px;
    padding-bottom:5px;
  }
  .calculator td {
    height:16.66%;
  }
  .calc_td_result {
    text-align:center;
  }
  .calc_result {
    width:90%;
    text-align:right;
  }
  .calc_td_calculs {
    text-align:center;
  }
  .calc_calculs {
    width:90%;
    text-align:left;
  }
  .calc_td_btn {
    width:25%;
    height:100%;
  }
  .calc_btn {
    width:90%;
    height:90%;
    font-size:20px;
  }
  body {
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
  }
  
  body::-webkit-scrollbar {
    width: 0.25rem;
  }
  
  body::-webkit-scrollbar-track {
    background: #1e1e24;
  }
  
  body::-webkit-scrollbar-thumb {
    background: #6649b8;
  }
  
  main {
    margin-left: 5rem;
    padding: 1rem;
  }
  
  .navbar {
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 600ms ease;
    overflow: hidden;
  }
  
  .navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  
  .nav-item {
    width: 100%;
  }
  
  .nav-item:last-child {
    margin-top: auto;
  }
  
  .nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
  }
  
  .nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
  }
  
  .link-text {
    display: none;
    margin-left: 1rem;
  }
  
  .nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
  }
  
  .fa-primary {
    color: #ff7eee;
  }
  
  .fa-secondary {
    color: #df49a6;
  }
  
  .fa-primary,
  .fa-secondary {
    transition: var(--transition-speed);
  }
  
  .logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
  }
  
  .logo svg {
    transform: rotate(0deg);
    transition: var(--transition-speed);
  }
  
  .logo-text
  {
    display: inline;
    position: absolute;
    left: -999px;
    transition: var(--transition-speed);
  }
  
  .navbar:hover .logo svg {
    transform: rotate(-180deg);
  }

  #notesMain {
    padding: 190px;
    background-color: #8d8ecc;
  }

  @media only screen and (max-width: 900px) {
    #notesMain {
      padding: 20px;
    }
  }
  
  /* Small screens */
  @media only screen and (max-width: 600px) {
    .navbar {
      bottom: 0;
      width: 100vw;
      height: 5rem;
    }
  
    .logo {
      display: none;
    }
  
    .navbar-nav {
      flex-direction: row;
    }
  
    .nav-link {
      justify-content: center;
    }
  
    main {
      margin: 0;
    }
  }
  
  /* Large screens */
  @media only screen and (min-width: 600px) {
    .navbar {
      top: 0;
      width: 5rem;
      height: 100vh;
    }
  
    .navbar:hover {
      width: 16rem;
    }
  
    .navbar:hover .link-text {
      display: inline;
    }
  
    .navbar:hover .logo svg
    {
      margin-left: 11rem;
    }
  
    .navbar:hover .logo-text
    {
      left: 0px;
    }
  }
  .dark {
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
  }
  
  .light {
    --text-primary: #1f1f1f;
    --text-secondary: #000000;
    --bg-primary: #ffffff;
    --bg-secondary: #e4e4e4;
  }
  
  .solar {
    --text-primary: #576e75;
    --text-secondary: #35535c;
    --bg-primary: #fdf6e3;
    --bg-secondary: #f5e5b8;
  }
  
  .theme-icon {
    display: none;
  }
  
  .dark #darkIcon {
    display: block;
  }
  
  .light #lightIcon {
    display: block;
  }
  
  .solar #solarIcon {
    display: block;
  }

  #title {
    padding: 10px 0;
    color: #fff;
    border-bottom: 2px solid #ccc;
    margin-bottom: 10px;
    font-size: 50px;
}

  .controls {
    display: flex;
    justify-content: space-between;
}

.main-controls {
    display: flex;
}

.control-btn-container {
    display: flex;
}

.control-btn {
    margin-left: 8px;
    width: 50px;
    height: 100%;
}

#filename-input {
    margin-left: 10px;
}

#scheduleMain {
  background-color: #2e2e57;
}

#content {
    padding: 20px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    outline: none;
    min-height: 300px;
    margin: 30px 0;
    background-color: #ffffff;
}

.dropdown button {
  border-radius: 5px;
  box-shadow: none;
  border: none;
  width: 100px;
  height: 30px;
  color: #fff;
  background-color: #6649b8;
}

.strike {
  text-decoration: line-through;
}

td{
  border: 1px solid black;
  padding: 5px;
}

.todo-input{
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1rem;
}

.todoTable-block{
  margin-top: 1rem;
}

.pagination-pages{
  text-align: right;
}

.pagination-pages > * {
  margin-right: 0.5rem;
  cursor: pointer;
}

.material-icons{
  cursor: pointer;
}

::-ms-input-placeholder{
  color: #23232e;
}

::-webkit-input-placeholder{
  color: #23232e;
}

::placeholder{
  color: #80808d;
}

input {
  color:#23232e;
}

h3 {
  color:#fff;
}

.todo-block{
  border: 3px solid #23232e;
  padding: 1rem;
  border-radius: 20px;
  color: #fff;
}

@media screen and (max-width: 767px) {
  /* for mobile or small screen device */
  #todoTable, .todo-calendar{
    margin-top: 1rem;
  }

  #scheduleMain {
    z-index: 1;
    padding-bottom: 100px;
  }

  .navbar {
    z-index: 999;
  }
}

@media screen and (min-width: 768px) {
  /* for tablets or laptops or desktops */
  .todo-grid-parent{
    display: grid;
    grid-template-columns: 2fr 3fr;
    column-gap: 1rem;
  }

  #calendar{
    position: sticky;
    top: 0;
  }
}

.todo-overlay{
  width: 100vw;
  height: 100vh;
  background-color: #ddd;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-100vw);
  transition: transform 250ms;
  z-index: 2;
}

.todo-modal{
  min-width: 50vw;
  height: 50vh;
  /*border: 1px solid green;*/
  background-color: #23232e;
}

.todo-modal-close-btn{
  background-color: navy;
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  font-weight: bold;
}

.slidedIntoView {
  transform: translateX(0);
  transition: transform 650ms;
}

#todoTable tr:nth-child(even) {
  background-color: #23232e;
  color: #fff;
}

button{
  background-color: #2e2e57;
  color: #fff;
  border: 1px outset #141416;
}

button:active{
  border: 1px inset #23232e;
}

button:hover{
  background-color: #646477;
  transition-duration: 0.5s;
}

.chevron{
  transform: translateY(0.4rem);
}

.itemsPerPage{
  text-align: right;
  margin-bottom: 0.5rem;
}
#gradient-canvas {
  height: 100vh;
  width: 100%;
  background: lightgrey;
}